body{
  background: #000;
}

._alpha_hub_section_etypm_1 {
    max-width: 1200px;
    margin-top: 28px;
}

.container {
    /* max-width: 1200px; */
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
}

._alpha_hub_center_heading_etypm_36 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .117px;
    gap: 8px;
}

._alpha_hub_center_heading_main_etypm_47 {
    color: #fff;
    font-size: 24px;
    line-height: 30px;
}

._alpha_hub_center_heading_sub_etypm_52 {
    color: rgba(255, 255, 255, .4);
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

._video_learning_container_1w3qv_1 {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 20px;
}

._video_card_container_1w3qv_9 {
    width: 283px;
    height: 420px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, .2);
    background: rgba(255, 255, 255, .05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

._video_card_container_1w3qv_9:before {
    background: transparent;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: background .1s ease;
}

._hidden_1w3qv_120 {
    display: none;
    height: 100%;
}

._hidden_1w3qv_120 iframe{
    display: block;
    vertical-align: bottom;
    border: 0;
}

._reel_icon_1w3qv_55 {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    border: 1px solid var(--White-20, rgba(255, 255, 255, .2));
    background: var(--Black-40, rgba(0, 0, 0, .4));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}

._visible_1w3qv_115 {
    display: block;
    width: 100%;
    height: 100%;
}

._reel_icon_1w3qv_55 img{
  display: block;
  vertical-align: middle;
  max-width: 100%;
  border: 0;
}

._play_video_1w3qv_71 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    border: 1px solid rgba(255, 255, 255, .2);
    background: rgba(0, 0, 0, .4);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    position: absolute;
    top: 50%;
    font-size: 36px;
    height: 60px;
    width: 60px;
    left: 50%;
    transform: translate(-50%, 5px);
    cursor: pointer;
    opacity: 0;
    transition: transform .3s ease, opacity .5s ease;
}

._play_video_1w3qv_71 i {
    color: var(--White-20, rgba(255, 255, 255, .8));
    mix-blend-mode: plus-lighter;
}

.ml-1 {
    margin-left: 0.25rem;
    margin-top: 0.25rem !important;
}

.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

._thumbnail_mask_image_1w3qv_26 {
    position: absolute;
    bottom: -60px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100px;
    filter: blur(15px);
    object-position: bottom;
    transform: scale(3);
}

._thumbnail_main_image_1w3qv_21 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    vertical-align: middle;
    max-width: 100%;
}

._video_card_title_1w3qv_37 {
    color: #fff9;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, .1);
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: .117px;
    position: absolute;
    bottom: 12px;
    left: 15px;
    mix-blend-mode: plus-lighter;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    z-index: 2;
}

._video_card_container_1w3qv_9:hover._video_card_container_1w3qv_9:before {
    background: rgba(0, 0, 0, .35);
}

._video_card_container_1w3qv_9:hover ._play_video_1w3qv_71 {
    opacity: 1;
    transform: translate(-50%,-50%);
}


