._projects_section {
    max-width: 1200px;
    margin-top: 20px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
}

._projects_center_heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .117px;
    gap: 8px;
}

._projects_center_heading_main {
    color: #fff;
    font-size: 24px;
    line-height: 30px;
}

._projects_center_heading_sub {
    color: rgba(255, 255, 255, .4);
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

._video_learning_container {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 20px;
}

._video_card_container {
    width: 283px;
    height: 420px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, .2);
    background: rgba(255, 255, 255, .05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

._video_card_container:before {
    background: transparent;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: background .1s ease;
}

._video_card_container:hover._video_card_container:before {
    background: rgba(0, 0, 0, .35);
}

._video_card_container:hover ._play_video_icon {
    opacity: 1;
    transform: translate(-50%,-50%);
}

._hidden_video_section {
    display: none;
    height: 100%;
}

._hidden_video_section iframe{
    display: block;
    border: 0;
}

._reel_icon {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    border: 1px solid rgba(255, 255, 255, .2);
    background: rgba(0, 0, 0, .4);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}

._reel_icon i{
  font-size: 24px;
}

._visible_video_section {
    display: block;
    width: 100%;
    height: 100%;
}

._reel_icon img{
  display: block;
  max-width: 100%;
  border: 0;
}

._play_video_icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    border: 1px solid rgba(255, 255, 255, .2);
    background: rgba(0, 0, 0, .4);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    position: absolute;
    top: 50%;
    font-size: 36px;
    height: 60px;
    width: 60px;
    left: 50%;
    transform: translate(-50%, 5px);
    cursor: pointer;
    opacity: 0;
    transition: transform .3s ease, opacity .5s ease;
}

._play_video_icon i {
    color: rgba(255, 255, 255, .8);
    mix-blend-mode: plus-lighter;
}

.ml-1 {
    margin-left: 0.25rem;
    margin-top: 0.25rem !important;
}

.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

._thumbnail_image_top {
    position: absolute;
    bottom: -60px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100px;
    filter: blur(15px);
    object-position: bottom;
    transform: scale(3);
}

._thumbnail_image_bottom {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    max-width: 100%;
}

._video_card_title {
    color: #fff9;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, .1);
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: .117px;
    position: absolute;
    bottom: 12px;
    left: 15px;
    mix-blend-mode: plus-lighter;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    z-index: 2;
}


@media (max-width: 664px) {
    ._video_card_container {
        margin-left: auto;
        margin-right: auto;
    }
}

