._cover_wrapper {
  position: relative;
}

._cover_wrapper ._cover_header_image {
  position: relative;
  object-fit: cover;
  width: 100%;
  display: block;
}

._cover_wrapper ._cover_info{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  mix-blend-mode: screen;
  transition: top .8s ease;
}

._cover_wrapper ._cover_info ._header_logo_container ._header_logo{
  z-index: 1;
  mix-blend-mode: screen;
  width: 235px;
  transition: top .5s ease;
}

._cover_text {
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

._cover_text p{
  color: #7d7d7d;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 22px;
}

._cover_text span{
  color: white;
}


.mt-5 {
  width: max-content;
  margin-top: 3rem;
  margin-left: -50px;
}

._primary_button_container{
  position: relative;
  display: inline-flex;
  padding: 7px 27px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  min-width: max-content;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, .1);
  background: #6435e9;
  cursor: pointer;
  overflow: hidden;
  transition: all .3s ease;
}

._primary_button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all .3s ease;
  z-index: 1;
}



@media (max-width: 1200px) {
  ._cover_wrapper {
    height: 600px;
  }

  ._cover_wrapper ._cover_header_image {
    height: 600px;
  }

}

@media (max-width: 800px) {
  ._cover_wrapper {
    height: 550px;
  }

  ._cover_wrapper ._cover_header_image {
    height: 500px;
  }

  ._header_logo_container ._header_logo{
    scale: 0.8;
  }

  ._cover_text p{
    font-size: 17px;
  }

  ._cover_text span{
    font-size: 17px;
  }

}

