._timeline_section_path_3 {
  position: absolute;
  top: 46%;
  margin-top: 310px;
  left: 57%;
  z-index: -1;
}

@media screen and (max-width: 560px) {
  ._timeline_section_path_3 {
    display: none;
  }
}