._timeline_section_path_1 {
  position: absolute;
  margin-top: -130px;
  left: -120px;
  z-index: 0;
}

svg:not(:root) {
  overflow: hidden;
  display: block;
}

._active_path svg path {
  stroke-dasharray: 8;
  animation: _draw_1a7tp_1 .5s linear infinite;
}

._timeline_section_path_2 {
  position: absolute;
  margin-top: -50px;
  left: 219px;
  z-index: -1;
}

svg:not(:root) {
  overflow: hidden;
  display: block;
}
