._final_reward_container {
  display: flex;
  gap: 24px;
  margin: 95px auto 15px;
  position: relative;
}

._reward_won_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 320px;
  position: absolute;
  left: calc(-100% - 24px);
  bottom: 0;
}

._timer_container_outer {
  width: 320px;
}

._timer_container_content {
  position: relative;
  padding: .75rem;
  border-radius: 12px;
  border: 1px solid var(--White-05, rgba(255, 255, 255, .05));
  background: var(--White-05, rgba(255, 255, 255, .05));
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 140px;
}

._timer_container_content>div:nth-child(1) {
  position: relative;
  display: flex;
  align-items: center;
  gap: .5rem;
  color: var(--White-40, rgba(255, 255, 255, .4));
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: .117px;
}

._timer_container_content>div:nth-child(1)>div {
  display: flex;
  width: 20px;
  height: 20px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 1000px;
  background: rgba(250, 137, 34, .1);
}

._timer_container_content>div:nth-child(1)>div>i {
  font-size: 12px;
  color: #fa8922;
}

.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._timer_container_content>hr {
  opacity: 1;
  border: 1px dashed rgba(255, 255, 255, .1);
  width: 100%;
  border-radius: 1000px;
  border-color: #ffffff26 !important;
  margin: 0;
  box-sizing: content-box;
  height: 0;
}

._timer_container_content>div:last-child {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, .1);
  background: var(--Black-20, rgba(0, 0, 0, .2));
  box-shadow: -2px -2px 5px #0006 inset, 2px 2px 5px #0006 inset;
}

._timer_container_content>div:last-child>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  max-width: 100%;
  border: 0;
}

._timer_container_content>div:last-child>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  position: relative;
  max-width: 40px;
  min-width: 40px;
}

._timer_container_content>div:last-child>div>h3 {
  color: var(--White-60, rgba(255, 255, 255, .6));
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, .5);
  font-family: Outfit;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: .117px;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

._timer_container_content>div:last-child>div>p {
  color: var(--White-20, rgba(255, 255, 255, .2));
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, .5);
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: .117px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

._final_reward_content {
  width: 295px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, .1);
  margin-top: 16px;
  background: var(--White-05, rgba(255, 255, 255, .05));
  padding: 12px;
  position: relative;
}

._final_reward_image {
  width: 296px;
  height: 296px;
  border-radius: 6px;
  border: 1px solid var(--White-10, rgba(255, 255, 255, .1));
  background: rgba(0, 0, 0, .2);
  margin-bottom: 12px;
  display: block;
  max-width: 100%;
}

._final_reward_type {
  color: var(--White-60, rgba(255, 255, 255, .8));
  text-shadow: 0px 0px 2px rgba(0, 0, 0, .4);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 2px 4px;
  border-radius: 4px;
  background-color: #0009;
}

._final_reward_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--White-40, rgba(255, 255, 255, .4));
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 12px;
}

._final_reward_info>span {
  display: flex;
  align-items: center;
  gap: 4px;
}

._final_reward_info>span>p {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--White-100, #fff) !important;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

._final_reward_hr_divider {
  border: 0;
  height: 1px;
  position: relative;
  width: 100%;
}

._final_reward_hr_divider:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background: repeating-linear-gradient(to right, rgba(255, 255, 255, .15), rgba(255, 255, 255, .15) 4px, transparent 4px, transparent 8px);
  position: absolute;
  top: 0;
  left: 0;
}

._final_reward_steps {
  color: rgba(255, 255, 255, .4);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

._quest_complete_tick_icon {
  display: flex;
  width: 10px;
  height: 10px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 1000px;
  border: 1px solid var(--White-10, rgba(255, 255, 255, .1));
  background: var(--White-05, rgba(255, 255, 255, .05));
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  align-self: flex-end;
  font-size: 12px;
}

._final_reward_claim_button {
  display: flex;
  width: 100%;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--White-07, rgba(255, 255, 255, .07));
  background: var(--White-07, rgba(255, 255, 255, .07));
  color: var(--White-60, rgba(255, 255, 255, .6));
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 12px;
}

._final_reward_info_path {
  position: absolute;
  top: 43%;
  right: -75%;
  transform: translateY(-50%);
  opacity: 50%;
}

._reward_details_container {
  width: 312px;
  border-radius: 6px;
  border: .5px solid var(--White-20, rgba(255, 255, 255, .2));
  background: #131313;
  box-shadow: 0 2px 5px #00000080;
  position: absolute;
  top: 0;
  right: -120%;
  transform: translateY(-45%);
}

._reward_details_header {
  color: var(--White-40, rgba(255, 255, 255, .4));
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  padding: 12px 16px;
  border-bottom: 1px solid rgba(255, 255, 255, .05);
}

.ml-1 {
  margin-left: 0.25rem;
}

._reward_details_body {
  color: var(--White-60, rgba(255, 255, 255, .6));
  font-size: 16px;
  font-weight: 400;
  line-height: 0;
  padding: 16px;
}

._reward_details_body p {
  color: #7d7d7d;
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.3;
}

._reward_details_body span {
  color: #fffc;
}


@media screen and (max-width: 560px) {
  ._final_reward_container {
      flex-direction:column-reverse;
      margin-top: 170px;
      margin-left: 0;
      justify-content: center;
      align-items: center
  }

  ._reward_won_wrapper {
      width: 100%;
      position: relative;
      left: 0
  }

  ._timer_container_outer {
      width: 90%
  }

  ._final_reward_content {
      width: 94%
  }

  ._final_reward_image {
      width: 100%;
      height: 100%
  }

  ._reward_details_container {
      width: 100%;
      position: relative;
      margin-top: 20px;
      transform: none;
      right: 0
  }
}

