._timeline_nft_section_2_conatiner {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  position: relative;
  z-index: -1;
}

._timeline_nft_tick_icon {
  
  display: flex;
  width: 25px;
  height: 25px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  border: 1px solid rgba(255, 255, 255, .2);
  background: rgba(255, 255, 255, .05);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: #fff3;
  font-size: 28px;
  margin-left: 55px;
}

.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._timeline_section_2_outer {
  width: 160px;
  position: relative;
  z-index: 10;
}

._timeline_section_2_image {
  width: 160px;
  height: 180px;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, .2);
  background: rgba(255, 255, 255, .05);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  justify-content: flex-end;
  margin-right: 120px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

._timeline_nft_reward_image {
  width: 147px;
  height: 165px;
  border-radius: 20px;
  object-fit: cover;
  z-index: 1;
  display: block;
  max-width: 100%;
}

._timeline_nft_lock_image {
  display: flex;
  width: 25px;
  height: 25px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  border: 1px solid rgba(255, 255, 255, .2);
  background: #131313;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(34%, 35%);
}

._timeline_nft_lock_image img {
  display: block;
  max-width: 100%;
}

._timeline_nft_name {
  color: rgba(255, 255, 255, .6);
  text-shadow: 0px 0px 2px rgba(0, 0, 0, .4);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px;
  margin-top: 16px;
}

._timeline_nft_description {
  color: rgba(255, 255, 255, .2);
  text-shadow: 0px 0px 2px rgba(0, 0, 0, .4);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 16px;
}

._timeline_nft_claim_btn {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, .05);
  background: rgba(255, 255, 255, .05);
  display: flex;
  width: 160px;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, .4);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  cursor: not-allowed !important;
}


svg:not(:root) {
  overflow: hidden;
  display: block;
}

._timeline_section_path_3 {
  position: absolute;
  top: 46%;
  left: 57%;
  z-index: -1;
}


@media screen and (max-width: 560px) {
  ._timeline_nft_section_2_conatiner {
      justify-content: center;
      margin-top: 25px;
  }
}