._timeline_nft_section_4_conatiner {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

._timeline_nft_tick_icon_2 {
  margin-top: 60px;
  display: flex;
  width: 25px;
  height: 25px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  border: 1px solid rgba(255, 255, 255, .2);
  background: rgba(255, 255, 255, .05);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: #fff3;
  font-size: 28px;
  margin-left: 55px;
}

.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._timeline_section_4_outer {
  width: 160px;
  position: relative;
  z-index: 10;
}

._timeline_section_4_image {
  width: 160px;
  height: 180px;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, .2);
  background: rgba(255, 255, 255, .05);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  justify-content: flex-end;
  margin-right: 120px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

._essentials_section_2:before {
  background-image: conic-gradient(rgba(255, 255, 255, .25) 0deg, rgba(255, 255, 255, .075) 45deg, rgba(255, 255, 255, .2) 90deg, rgba(255, 255, 255, .4) 135deg, rgba(255, 255, 255, .2) 180deg, rgba(255, 255, 255, .075) 225deg, rgba(255, 255, 255, .25) 270deg, rgba(255, 255, 255, .4) 315deg, rgba(255, 255, 255, .25) 360deg);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

._timeline_nft_reward_image {
  width: 147px;
  height: 165px;
  border-radius: 20px;
  object-fit: cover;
  z-index: 1;
  display: block;
  max-width: 100%;
}

._essentials_section_2:after {
  content: "";
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  position: absolute;
  background: #131313;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 23.5px;
}

._timeline_nft_lock_icon_2 {
  display: flex;
  width: 25px;
  height: 25px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  border: 1px solid rgba(255, 255, 255, .2);
  background: #131313;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(34%, 35%);
}

._timeline_nft_lock_icon_2 img {
  display: block;
  max-width: 100%;
}

._timeline_nft_name_2 {
  color: rgba(255, 255, 255, .6);
  text-shadow: 0px 0px 2px rgba(0, 0, 0, .4);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px;
  margin-top: 16px;
}

._timeline_nft_description_2 {
  color: rgba(255, 255, 255, .2);
  text-shadow: 0px 0px 2px rgba(0, 0, 0, .4);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 16px;
}

._timeline_nft_claim_btn_2 {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, .05);
  background: rgba(255, 255, 255, .05);
  display: flex;
  width: 160px;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, .4);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  cursor: not-allowed !important;
}

._timeline_section_path_6 {
  position: absolute;
  top: 46%;
  left: -20%;
}

svg:not(:root) {
  overflow: hidden;
  display: block;
}


@media screen and (max-width: 560px) {
  ._timeline_nft_section_4_conatiner {
      justify-content: center;
  }
}